Package: apache-syncope
Version: [[syncope.version]]
Section: misc
Priority: optional
Architecture: all
Description: Apache Syncope debian package.
Depends: [[debian.dependencies]]
Maintainer: Piticas Alexandru Catalin <piticas.alexandru@gmail.com>
